dist/
*.egg-info/
MANIFEST
*.pyc
*.sql*
*.pickled
.idea
nohup.out
.ipynb_checkpoints/
*.old
*.bak
*.orig
*.old.*
fixtures/
*.bak.*
*.orig.*
*.pyc
*.pyo
*.db
*.env
.DS_Store
.coverage
local_settings.py
/static
