{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Join Us!</h2>
<p>If you're passionate about using Machine Learning to add to the good in the world, we can help you! And by letting us help you you'll be helping us grow our code base and our "training set". Together we can increase the total good bit by bit.</p>
<p>We are developers, designers, engineers, economists, communicators, videographers, and statisticians who care about more than just targeted advertising or financial trading bots. If you have ideas for harnessing Machine Intelligence to serve the greater good we're all ears. For example, we're working this summer to increase government financial transparency by mining the transaction data for Portland Oregon and the rest of the state. And we're building an automated learning tool to allow public servants to build predictive models without having to learn statistics or computer science.</p>
<p>And we don't hold back. Everything we do is open source, open data, open science. All IP is donated to the public domain or licensed to the public free of charge.</p>
<h3>Some software projects we contribute to include:</h3>
<ul>
    <table  class="table">
      <tr><td><a href="http://github.com/totalgood/pug">PUG</a></td><td>PDX Python User Group data tools</td></tr>
      <tr><td><a href="http://github.com/pybrain2/pybrain2">PyBrain2</a><td>versatile framework for Deep Learning</td></tr>
      <tr><td><a href="http://github.com/totalgood/pug-nlp">PUG-NLP</a></td><td>Natural Language Processing simplified</td></tr>
    <li></li>
</ul>
{% endblocktrans %}
{% endblock %}
